* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

svg {
    width: 350px;
    height: 150px;
    background-color: aqua;
}

#frontwheel {
    animation: spin 1s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

#rearwheel {
    animation: spin 1s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

#flowers {
    animation: moving-flowers 3s infinite linear;
    transform: translateX(-100%);
}

@keyframes spin {
    from {
        transform: rotateZ(360deg);
    }

    to {
        transform: rotateZ(0deg);
    }
}

@keyframes moving-flowers {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}